.navbar {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    
}

.navbar-info {
   position: absolute;
   top: 50%;
   transform: translateY(-50);
   width: 50%;
}